{% extends "admin/change_form.html" %}
{% load jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block field_sets %}
    <div class="col-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                {% get_changeform_template adminform as changeform_template %}
                {% include changeform_template %}
            </div>
        </div>
    </div>
    <div class="col-4 col-lg-3">
        <div class="card">
            <div class="card-body">
                teste
            </div>
        </div>
    </div>
{% endblock %}